temp/copy_from_on_premises.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "schema": {
                "value": "@pipeline().parameters.D_schema",
                "type": "Expression"
              },
              "table": {
                "value": "@pipeline().parameters.D_loadtable",
                "type": "Expression"
              }
            },
            "schema": [],
            "linkedService": {
              "name": "Destination_LK",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "c7f5889a-ba6e-ae6c-4fa1-a29cb4fa02c7",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "collect table list",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('collect table list').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "FileServerReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "FileServerLocation",
                        "folderPath": {
                          "value": "@item().file_directory",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().S_file_name,'.csv')",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "2c830fa7-1320-4da0-bb78-9ff72ab33be0"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "quoteAllText": true,
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(item().D_filename,'.csv')",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Destination_LK",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "c7f5889a-ba6e-ae6c-4fa1-a29cb4fa02c7",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data into D LK",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_source_file",
        "dependsOn": [
          {
            "activity": "collect table list",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "D_schema": {
        "type": "string",
        "defaultValue": "dbo"
      },
      "D_loadtable": {
        "type": "string",
        "defaultValue": "tableslist"
      }
    }
  }
}